<!-- Accomplishments -->
<section id="accomplishments" class="content-section">
    <div class="section-header">
        <h1>Conquistas e Feitos</h1>
        <p class="subtitle">Resultados e reconhecimentos obtidos</p>
    </div>

    <div class="accomplishment-timeline full-timeline">

        <div class="timeline-item">
            <div class="timeline-icon"><i class="fas fa-certificate"></i></div>
            <div class="timeline-content">
                <h3>Voluntária no Programa Adapta Keraciaba</h3>
                <p class="timeline-date">
                    Concedido(s) por Escola de Artes, Ciências e Humanidades da Universidade de São
                    Paulo (EACH-USP) · mai de 2023
                </p>
                <p>
                    O Projeto Adapta Keraciaba venceu em 1º lugar na premiação dos melhores trabalhos do 30º Simpósio
                    Internacional de Iniciação Científica e Tecnológica da USP, com o trabalho "Programa Adapta Keraciaba:
                    gestão de riscos de desastres e adaptação climática", na área de Ciências Ambientais.
                </p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon"><i class="fas fa-award"></i></div>
            <div class="timeline-content">
                <h3>Bolsista no Programa Adapta Keraciaba</h3>
                <p class="timeline-date">
                    Concedido(s) por Oficina das Nações Unidas para a Redução de Riscos de Desastres
                    (UNDRR) · out de 2021
                </p>
                <p>
                    O Programa Adapta Keraciaba recebeu um certificado de apreciação e reconhecimento como projeto vencedor
                    na categoria ‘Jovens’ do concurso de vídeos do MCR 2030 "Vozes da Comunidade - Preparando-se para um
                    Futuro Resiliente nas Américas e no Caribe"
                </p>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-icon"><i class="fas fa-award"></i></div>
            <div class="timeline-content">
                <h3>Bolsista do Programa Adapta Keraciaba</h3>
                <p class="timeline-date">
                    Concedido(s) por Centro Nacional de Monitoramento e Alerta de Desastres Naturais
                    (CEMADEN) · fev de 2021
                </p>
                <p>
                    A Campanha Adapta Keraciaba participou da 5ª edição da Campanha Nacional #AprenderParaPrevenir,
                    promovida pelo Centro Nacional de Monitoramento e Alerta de Desastres Naturais (CEMADEN), e foi
                    reconhecida com o Prêmio de Mérito na categoria iniciativa universitária inspiradora.
                </p>
            </div>
        </div>

    </div>
</section>
